h1{
    text-align: center;
    color: rgb(9, 31, 67);

}

h4{
    color: rgb(9, 31, 67);
}

.bout{
  background-color: rgb(9, 31, 67);
  
}

body{
    background-color: rgb(187, 183, 175);
}

.carte{
    background-color: rgb(186, 77, 85);
}

.paraf{
    color: rgb(9, 31, 67);
    background-color: rgb(187, 183, 175);
}

